<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="10.4.0" targetFramework="net462" />
  <package id="NLog" version="4.4.5" targetFramework="net462" />
  <package id="PostSharp" version="4.3.31" targetFramework="net462" />
  <package id="PostSharp.Patterns.Common" version="4.3.31" targetFramework="net462" />
  <package id="PostSharp.Patterns.Model" version="4.3.31" targetFramework="net462" />
  <package id="PostSharp.Patterns.Threading" version="4.3.31" targetFramework="net462" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net462" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net462" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net462" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net462" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net462" />
  <package id="SlowCheetah" version="2.5.48" targetFramework="net462" />
  <package id="TA.Ascom.ReactiveCommunications" version="0.4.2" targetFramework="net462" />
</packages>