<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Machine.Specifications" version="0.11.0" targetFramework="net462" />
  <package id="Machine.Specifications.Should" version="0.11.0" targetFramework="net462" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.9.0" targetFramework="net462" />
  <package id="NLog" version="4.4.3" targetFramework="net462" />
  <package id="PostSharp" version="5.0.20-preview" targetFramework="net462" />
  <package id="PostSharp.Patterns.Common" version="5.0.20-preview" targetFramework="net462" />
  <package id="PostSharp.Patterns.Common.Redist" version="5.0.20-preview" targetFramework="net462" />
  <package id="PostSharp.Patterns.Model" version="5.0.20-preview" targetFramework="net462" />
  <package id="PostSharp.Patterns.Model.Redist" version="5.0.20-preview" targetFramework="net462" />
  <package id="PostSharp.Patterns.Threading" version="5.0.20-preview" targetFramework="net462" />
  <package id="PostSharp.Patterns.Threading.Redist" version="5.0.20-preview" targetFramework="net462" />
  <package id="PostSharp.Redist" version="5.0.20-preview" targetFramework="net462" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net462" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net462" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net462" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net462" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net462" />
  <package id="System.Xml.XmlSerializer" version="4.0.11" targetFramework="net462" />
  <package id="TA.Ascom.ReactiveCommunications" version="0.3.0" targetFramework="net462" />
</packages>