<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and formats.
   -->
  <targets async="true">
    <!-- Log target for live viewing via SysInternals DebugView or in Visual Studio debugger -->
    <target xsi:type="Trace" name="DebugView" rawWrite="True"
            layout="${time}|${pad:padding=-5:inner=${uppercase:${level}}}|${pad:padding=-16:inner=${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false:includeNamespace=false}}|${message}" />
    <!-- Log target for writing to ASCOM-style log file -->
    <target xsi:type="File" name="ASCOM"
            filename="${environment:variable=UserProfile}/logs/ASCOM.ArduinoPowerController.Server-${filesystem-normalize:fSNormalize=true:inner=${shortdate}-${machinename}-${windows-identity}.log}"
            layout="${time}|${pad:padding=-5:inner=${uppercase:${level}}}|${pad:padding=-16:inner=${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false:includeNamespace=false}}|${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="DebugView" />
    <logger name="*" minlevel="Info" writeTo="ASCOM" />
  </rules>
</nlog>